// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
    //Toolbar top
    .toolbar-background-md{
        background: darkturquoise;
    }
    .toolbar-title-md{
        color: white;
    }
    //Tabs Bottom
    .tabs-md .tabbar {
        background: darkturquoise;
    }
    .tabs-md .tab-button[aria-selected=true]{
        color: yellow;
    }
    .tabs-md .tab-button[aria-selected=true] .tab-button-icon{
        color: yellow;
    }
    .tabs-md .tab-button-icon{
        color: white;
    }
    .tabs-md .tab-button{
        color: white;
    }


    //Fonts
    @font-face{
        font-family: 'roboto';
        src: url('../assets/fonts/Roboto/Roboto-Black.ttf');
    }

    @font-face{
        font-family: 'Oleo Script';
        src: url('../assets/fonts/Oleo_Script/OleoScript-Bold.ttf');
    }